body{
    margin: auto;

}
.header{
    background-color: rgba(229, 84, 115, 0.10);
    align-items: baseline;

}

.banner-text{
    max-width: 525px;
    
}
.profile-pic{
    margin: 0px; padding: 0px;
    width: 510px;
}
.banner1{
    display: flex;
    padding: 50px 240px 0px 240px;
    align-items: center;
    justify-content: space-around;
}
.banner-heading{
    color: #272727;
    font-family: 'Open Sans', sans-serif;
    width: 680px; height: 188px;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 0px;
    }
.banner-descript{

    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 400;
    line-height: 30px; 
}

body{
    margin: 0;
}

.btn-primary{
    border-radius: 8px;
    background: #E55473; 
    color: white;
    font-size: 15px;
    display: inline-flex;
    align-items: flex-start;
    padding: 20px 43px;
    border: 0;
    width: 160px;
    height: 30 px;
}
.btn-primary:hover{
    color: darkgray;
}
.featured{
    
    margin: 3px;
    margin-bottom: 0;
    


}
.featured-title{
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 550;
    margin-bottom: 0;
    
}
.header2{
    border-color: white;
}
.ftr-des{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}
.bg-ig{
    display: flex;
    align-items: center;
    flex-shrink: 0; 
    margin: 50px 20px 0px 90px;
    
    
}
.c1{
    padding: 0px;
    width: 290px;
    height: 351px;
    
    
    
    
    
}
.c2{
    padding: 0px 10px 0px 30px;
    width: 290px;
    height: 330px;
    
}
    

.c3{
    padding: 0px 15px 0px 40px;
    width: 290px;
    height: 355px;
    
}

.b1{
    background-image: url("./image/Rectangle_3-1.png");
    background-repeat: no-repeat;
    background-position: top left;
    width: 360px;
    height: 585px;
    padding: 25px 3px 0px 3px;
    text-align: center;
    
}
    
.b2{
    padding: 20px 3px 0px 3px;
    background-image: url("./image/Rectangle_3-2.png");
    background-repeat: no-repeat;
    background-position: top center;
    width: 360px;
    height: 585px;
    text-align: center;
 
}
.b3{
    padding: 20px 0px 0px 3px; 
    background-image: url("./image/Rectangle_3-3.png");
    background-repeat: no-repeat;
    background-position:top right;
    width: 360px;
    height: 585px;
    text-align: center;
}

.l1{
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}
